<!-- HEADER -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>OMDb API sample</span>
  </mat-toolbar-row>
</mat-toolbar>

<!-- CONTAINER -->
<div class="container">

  <!-- FILM SEARCHER -->
  <div class="sidebar">
    <app-film-searcher></app-film-searcher>
  </div>

  <!-- VIEW -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- FOOTER -->
<footer>
  Developer: <b>Shmanov Nazar</b><br>
  <a href="https://github.com/AmeBitto" target="_blank">AmeBitto <span class="fa fa-github fa-lg"></span></a>
</footer>

